#contentOne {
  width: 930px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 60px 20px;
  z-index: 1;
  position: relative;
}

.punchTypes{
  margin-right: 40px;
}

.userName{
  font-size: 24px;
  color: #0f4bac;
}

.userName::before{
  content: '{';
  color: gray;
}

.userName::after{
  content: '}';
  color: gray;
}

.userId{
  font-size: 10px;
  color: silver;
}
.userId::before{
  content: '[ ';
}
.userId::after{
  content: ' ]';
}

@media only screen and (max-width: 1024px) {

  #contentOne {
      width: 100%;
  }

}
